// === 顏色 ===
$default-bgc: #d9d9d9;
$default-text: #000;

$color-primary: #81bfda;
$color-secondary: #b1f0f7;
$color-neutral: #f5f0cd;
$color-highlight: #fada7a;

$yellow: #f9ff4d;
$light-yellow: #fff39c;
$orange: #fdc520;
$blue: #4f8da8;
$brown: #ada572;
$white: #fff;
$black: #000;
$gray-disabled: #d0d0d0;

// === heaer  ===
$header-bgc: $color-neutral;
$header-text-color: #4f8da8;

// === footer ===
$footer-bgc: $default-bgc;
$footer-text-color: $default-text;

$tp: transparent; //透明
