// === 顏色 ===
$default-bgc: #d9d9d9;
$default-text: #000;

$color-primary: #81bfda;
$color-secondary: #b1f0f7;
$color-neutral: #fffce2;
$color-highlight: #fada7a;

$yellow: #f9ff4d;
$light-yellow: #fff39c;
$lighter-yellow: #f5f0cd;
$orange: #fdc520;
$light-orange: #fffdef;
$lighter-orange: #fffdec;
$blue: #4f8da8;
$light-blue: #edf8ff;
$brown: #ada572;
$white: #fff;
$black: #000;
$gray-disabled: #d0d0d0;
$red: #fb0c0c;
$pink: #ffa4a4;

// === header ===
$header-bgc: $color-neutral;
$header-text-color: #4f8da8;

// === footer ===
$footer-bgc: $color-neutral;
$footer-text-color: #4f8da8;

// === 透明色 ===
$tp: transparent;
