// === 顏色 ===
$default-bgc: #d9d9d9;
$default-text: #000;

$color-primary: #81bfda;
$color-secondary: #b1f0f7;
$color-neutral: #fffce2;
$color-higtight: #fada7a;

// === heaer  ===
$header-bgc: $color-neutral;
$header-text-color: #4f8da8;

// === footer ===
$footer-bgc: $color-neutral;
$footer-text-color: #4f8da8;

$tp: transparent; //透明
