// === 斷點 ===
$device-m: 767px;
$device-p: 768px;
$device-d: 1024px;

// === header padding數值 ===
$header-pd-tb: 13px;
$header-pd-lr: 15px;

// === header 高度 ===
$header-h-m: 50px;
$header-h-d: 80px;
